# Chave pública do servidor
WG_SERVER_PUBLIC_KEY="Insira a chave pública do seu servidor"

# Endereço do servidor VPN (IP ou DNS)
WG_SERVER_ADDRESS="vpn.exemplo.com.br"

# Porta do Wireguard
WG_PORT=51820

# Endereço IP do Cliente Wireguard
WG_IP_ClIENT="10.10.10.2/32"

# IPs liberados para acesso ao host
WG_ALLOWED_IPS="10.10.10.1/32"